body { margin: 0; }
h1 { line-height: 2em; margin: 0; padding-left: 10px; }
body div#main,body div#description { margin: 8px; padding: 8px; border: 1px dotted black;}
body div#main { min-height: 50%; }
iframe.bigframe {height: calc(100% - 50px - 3em); width: calc(100% - 20px - 1em);}